Source: stats-collect
Section: utils
Priority: optional
Maintainer: Juha Haapakorpi <juha.haapakorpi@intel.com>
Build-Depends: debhelper (>= 12),
               dh-python,
               python3-all (>= 3.7),
               python3-setuptools,
               python3-pytest,
               python3-py,
               python3-iniconfig,
               python3-exceptiongroup,
               python3-pandas,
               python3-plotly,
               python3-pluggy,
               python3-yaml,
               pepc (>= 1.5.14)
Standards-Version: 3.9.8
Homepage: https://github.com/intel/stats-collect
X-Python3-Version: >= 3.7

Package: stats-collect
Architecture: all
Multi-Arch: foreign
Depends: python3:any (>= 3.7~),
         pepc (>= 1.5.14),
         python3-stats-collect,
         ${misc:Depends},
         ${python3:Depends},
         util-linux (>= 2.20~),
         procps,
         rsync
Description: The Statistics Collection Tool project provides the
 'stats-collect' command-line tool. This tool collects system statistics and
 telemetry, and visualizes them.

Package: python3-stats-collect
Architecture: all
Multi-Arch: foreign
Depends: python3:any (>= 3.7~),
         pepc (>= 1.5.14),
         python3-paramiko,
         ${misc:Depends},
         ${python3:Depends}
Description: The Statistics Collection Tool Python libraries.
 The Statistics Collection Tool Python libraries.
